
<div id="canadasEnergyFutureVisualization"> 

  <nav id="vizNavbar">

  </nav>

  <div role="heading" id='landingPageHeading' class='hidden'></div>
  <div class="clearfix"> </div>

  <div id="mainPanel">

    <div id="aboutModal" class="vizModal hidden"> </div>
    <div id="imageDownloadModal" class="vizModal hidden"> </div>

    <div id="visualizationContent"> </div>

    <!-- Both landingPagePanel and bottomNavBar contents are laid out with floats, so
          this clearfix element is necessary to keep them from interfering with each other. -->

    <div class="clearfix"> </div>

  </div>



  <nav id='bottomNavBar'> </nav>

  <script type="text/javascript" src="bundle.js"> </script>



</div>
