<!DOCTYPE html>
<html>
<head>
  <title>Exploring Canada's Energy Future / Explorer l'avenir énergétique du Canada</title>

  <meta charset="UTF-8">
  
  {{> app_iframe_styles }}

</head>
<body>

  {{> app_iframe_body }}

</body>
</html>