<div id="energy-future-outer-container">
  <div id="energy-future-iframe-container"> 
    <div id="wb-cont">
      <iframe id="energy-future-iframe" src="app_iframe.html" title="Canada's Energy Future Visualization"></iframe>
    </div>
  </div>
</div>