<!-- NB: This file has an equivalent in the Visual Studio project for deployment on NEB servers. Ensure that changes to this file are propagated there too. -->

<!DOCTYPE html>
<html>
<head>
  <title></title>

  {{> wet3_video_styles }}

</head>
<body>

  {{> wet3_video_body }}


  <!--[if lte IE 8]>
  <link rel="shortcut icon" href="wet_NEB/dist/theme-gcwu-fegc/images/favicon.ico" />
  <script src="wet_NEB/dist/js/jquery-ie.min.js"></script>
  <script src="wet_NEB/dist/js/polyfills/html5shiv-min.js"></script>
  <link rel="stylesheet" href="wet_NEB/dist/grids/css/util-ie-min.css" />
  <link rel="stylesheet" href="wet_NEB/dist/js/css/pe-ap-ie-min.css" />
  <link rel="stylesheet" href="wet_NEB/dist/theme-gcwu-fegc/css/theme-ie-min.css" />
  <noscript><link rel="stylesheet" href="wet_NEB/dist/theme-gcwu-fegc/css/theme-ns-ie-min.css" /></noscript>
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="icon" type="image/x-icon" href="wet_NEB/dist/theme-gcwu-fegc/images/favicon.ico" />
  <script src="wet_NEB/dist/js/jquery.min.js"></script>
  <link rel="stylesheet" href="wet_NEB/dist/grids/css/util-min.css" />
  <link rel="stylesheet" href="wet_NEB/dist/js/css/pe-ap-min.css" />
  <link rel="stylesheet" href="wet_NEB/dist/theme-gcwu-fegc/css/theme-min.css" />
  <noscript><link rel="stylesheet" href="wet_NEB/dist/theme-gcwu-fegc/css/theme-ns-min.css" /></noscript>
  <!--<![endif]-->


  <!-- ScriptsStart -->
  <script src="wet_NEB/dist/js/settings.js"></script>
  <!--[if lte IE 8]>
  <script src="wet_NEB/dist/theme-gcwu-fegc/js/theme-ie-min.js"></script>
  <script src="wet_NEB/dist/js/pe-ap-ie-min.js"></script>
  <script src="wet_NEB/dist/js/jquerymobile/jquery.mobile-ie.min.js"></script>
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <script src="wet_NEB/dist/theme-gcwu-fegc/js/theme-min.js"></script>
  <script src="wet_NEB/dist/js/pe-ap-min.js"></script>
  <script src="wet_NEB/dist/js/jquerymobile/jquery.mobile.min.js"></script>
  <!--<![endif]-->
  <!-- ScriptsEnd -->

</body>
</html>

