<figure class="wet-boew-multimedia videoContainer">
  <video title="Exploring Canada's Energy Future" poster="IMG/EF_Video_Poster.jpg" src="http://www.neb-one.gc.ca/bts/nws/vds/mp4/dtvslztn.mp4">
    <source src="http://www.neb-one.gc.ca/bts/nws/vds/mp4/dtvslztn.mp4" type="video/mp4" >
      Your browser does not support the video tag.
    </source>
  </video>
</figure>
