
/* Normalize fonts for content in our app. Otherwise the Bootstrap font configuration in WET3/4 takes over. */
#canadasEnergyFutureVisualization {
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif !important;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  color: #333333;
  margin: 10px 0 10px 0;
}

#canadasEnergyFutureVisualization h1, 
#canadasEnergyFutureVisualization h2, 
#canadasEnergyFutureVisualization h3, 
#canadasEnergyFutureVisualization h4, 
#canadasEnergyFutureVisualization h5, 
#canadasEnergyFutureVisualization h6 {
  font-weight: 400;
  /* WET Overrides: */
  border: none;
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif !important;
  line-height: 1em;
} 

div.chartTooltip {
  visibility: hidden;
  z-index: 10;
  font-size: 12;
  font-weight: bold;
  position: absolute;
  background-color: white;
  padding: 5px 0;
  font-family: Avenir Next Condensed, Arial Narrow, Arial, Verdana, sans-serif;
}

div.chartTooltip:before {
  content: "\00a0 \00a0 ";
}

div.chartTooltip:after {
  content: "\00a0 \00a0 ";
}

#canadasEnergyFutureVisualization .legendLabel {
  margin-bottom: 1px;
}
#canadasEnergyFutureVisualization span.legendTitle {
  position: absolute; 
  width: 120px; 
  margin-top:4px; 
  margin-left:10px; 
  font-family: Avenir Next Demi Condensed, Arial Bold, Arial, Verdana, sans-serif;
  font-size: 14px;  
}

#rightProvinceMenuSVG {
  /* TODO: This is not a great solution, vertical alignment may drift on resize */
  z-index: 10;
  padding-top: 21px;
  position: relative;
}


#canadasEnergyFutureVisualization #viz5TimelineControlsContainer {
  width: 77.5%;
  float: left;
  box-sizing: border-box;
}

#canadasEnergyFutureVisualization .viz5TimelinePlayPausePanel {
  width: 70px;
  height: 55px;
  float: right;
  position: absolute;
}

#canadasEnergyFutureVisualization .viz5TimelineAxisContainer {
  margin-left: 45%;
}

#canadasEnergyFutureVisualization #mainPanel {
  position: relative;
}

/* NB: There's some aggressive button font formatting under WET3, which we defeat here:*/
#canadasEnergyFutureVisualization button.vizButton {
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

#canadasEnergyFutureVisualization #vizNavbar {
  position: relative;
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow',  Arial Narrow, Arial, Verdana, sans-serif;
}

#canadasEnergyFutureVisualization #navbarInnerContainer {
  box-shadow: 0px 0px 5px 0px black;
  float: left;
  width: 100%;
}

#canadasEnergyFutureVisualization #panelLeft.en {
  /*column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;*/
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-right: 10px; /* For precise alignment with link boxes */
}

#canadasEnergyFutureVisualization #panelLeft.fr {
  column-count: 1;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-right: 10px; /* For precise alignment with link boxes */
}

#canadasEnergyFutureVisualization #panelLeft.fr p {
    margin-top: 0;
}


#canadasEnergyFutureVisualization #panelRight.en {
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding-left: 4px; /* For precise alignment with link boxes */
}

#canadasEnergyFutureVisualization #panelRight.fr {
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding-left: 4px; /* For precise alignment with link boxes */
}

@media (max-width: 1023px) {
  #canadasEnergyFutureVisualization #panelLeft {
    float: none;
    width: 100%;
  }

  #canadasEnergyFutureVisualization #panelRight {
    float: none;
    width: 100%;
    padding-left: 0;
  }
}


#canadasEnergyFutureVisualization #panelRight img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  border: 1px solid #cccccc;
}

#canadasEnergyFutureVisualization #panelLeft h1 {
  line-height: 1.3em;
}


#canadasEnergyFutureVisualization .hidden {
  display: none;
}

#canadasEnergyFutureVisualization #landingPageHeading {
  box-sizing: border-box;
  color: #fff;
  background-color: #333333;
  width: 100%;
  height: 50px;
  font-size: 36px;
  padding: 7px 0px 7px 25px;
  line-height: 1em;
  box-shadow: 0px 1px 3px 1px #333333;
}


#canadasEnergyFutureVisualization #bottomNavBar {
  box-sizing: border-box;
  color: #fff;
  background-color: #333333;
  width: 100%;
  height: 27px;
  padding: 0px 0px 0px 25px;
  box-shadow: 0px 0px 2px 1px #333333;
  font-size: 12px;
  line-height: 1em;
}

#canadasEnergyFutureVisualization #bottomNavBar a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
#canadasEnergyFutureVisualization #bottomNavBar a:hover {
  text-shadow: 0px 0px 10px white;
}

#canadasEnergyFutureVisualization #bottomNavBar .leftItem {
  margin: 7.5px 15px 0px 0px;
  float: left;
}
#canadasEnergyFutureVisualization #bottomNavBar .rightItem {
  margin: 7.5px 15px 0px 0px;
  float: left;
}

#canadasEnergyFutureVisualization #bottomNavBar .spacer {
  width: 40px;
}


#canadasEnergyFutureVisualization #bottomNavBar .twitterItem img,
#canadasEnergyFutureVisualization #bottomNavBar .linkedinItem img
{
  margin-left: 22.5%;
  margin-top: 22.5%;
  width: 55%;
}
/*Image is not square it is a 1 to 1.28 ratio*/
#canadasEnergyFutureVisualization #bottomNavBar .emailItem img
{
  margin-left: 22.5%;
  margin-top: 28.8%;
  width: 55%;
}

#canadasEnergyFutureVisualization #bottomNavBar .twitterItem,
#canadasEnergyFutureVisualization #bottomNavBar .emailItem,
#canadasEnergyFutureVisualization #bottomNavBar .linkedinItem {
  float: left;
  height: 100%;
  width: 27px;
}




#canadasEnergyFutureVisualization .thumbnailContainer {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0px 7px 0px 7px;
  cursor: pointer;
}

#canadasEnergyFutureVisualization .thumbnailContainer .imgContainer {
  width: 100%;
  height: 130px;
  box-shadow: inset 0px 0px 4px 2px rgba(68, 68, 68, 0.8);
}

#canadasEnergyFutureVisualization a:focus .thumbnailContainer {
  outline: 2px solid red;
}

#canadasEnergyFutureVisualization .thumbnailContainer img {
  margin: 0;
}


#canadasEnergyFutureVisualization .thumbnailContainer .vizLinkBox {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1em;
}
#canadasEnergyFutureVisualization .thumbnailContainer span {
  font-weight: 400;
}

#canadasEnergyFutureVisualization .viz1linkBox {
  background-color: rgb(103, 153, 204);
}
#canadasEnergyFutureVisualization .viz2linkBox {
  background-color: rgb(52, 153, 153);
}
#canadasEnergyFutureVisualization .viz3linkBox {
  background-color: rgb(54, 55, 150);
}
#canadasEnergyFutureVisualization .viz4linkBox {
  background-color: rgb(202, 152, 48);
}
#canadasEnergyFutureVisualization .viz5linkBox {
  background-color: rgb(204, 102, 102);
}


#canadasEnergyFutureVisualization #landingPagePanel {
  padding: 0px 7px 0px 7px;
}

#canadasEnergyFutureVisualization #landingPagePanel h1 {
  font-weight: 400;
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif;
  border: none;
  margin-top: 0;
}

#canadasEnergyFutureVisualization #landingPagePanel p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25em;
  font-family: Avenir Next Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif;
}



#canadasEnergyFutureVisualization .viz1Img {
  background-image: url("../IMG/landingPageThumb/october-20-2017/Explore_Regions.png");
  background-size: cover;
  background-position:50% 50%;  /* Sets reference point to scale from */
}
#canadasEnergyFutureVisualization .viz2Img {
  background-image: url("../IMG/landingPageThumb/october-20-2017/Explore_Sectors.png");
  background-size: cover;
  background-position:50% 50%;  /* Sets reference point to scale from */
}
#canadasEnergyFutureVisualization .viz3Img {
  background-image: url("../IMG/landingPageThumb/october-20-2017/Explore_Electricity.png");
  background-size: cover;
  background-position:50% 50%;  /* Sets reference point to scale from */
}
#canadasEnergyFutureVisualization .viz4Img {
  background-image: url("../IMG/landingPageThumb/october-20-2017/Explore_Scenarios.png");
  background-size: cover;
  background-position:50% 50%;  /* Sets reference point to scale from */
}
#canadasEnergyFutureVisualization .viz5Img {
  background-image: url("../IMG/landingPageThumb/october-20-2017/Changing_Demand.png");
  background-size: cover;
  background-position:50% 50%;  /* Sets reference point to scale from */
}


#canadasEnergyFutureVisualization #thumbnailRow {
  padding-top: 10px;
  margin-bottom: 10px;
}




#canadasEnergyFutureVisualization .vizModal {
  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif;
  width: 65%;
  left: 20%;
  top: 5%;
  z-index: 3000;
  overflow: hidden;
  padding: 0px 15px 0px 15px;
  position: absolute;
  color: #333333;
  background-color: rgba(255,255,255,1);

  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  border: 1px solid rgba(0,0,0,.15);

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


#canadasEnergyFutureVisualization .vizModal.navbarHelpSection, 
#canadasEnergyFutureVisualization .vizModal.navbarInfoSection {
  left: auto;
  top: auto;
  width: 56.2%;
  cursor: auto;
}



#canadasEnergyFutureVisualization .vizModal.controlsHelpPopover {
  width: 400%;
  left: 110%;
  top: 0;
  height: auto;
  min-width: 150px;
  padding: 0px 15px 0px 15px;
}

#canadasEnergyFutureVisualization .vizModal.controlsHelpPopover.popOverSm {
  width: 200%;
}

#canadasEnergyFutureVisualization .vizModal.controlsHelpPopover.popOverLg {
  width: 800%;
}


/* I think these two things should be treated the same way ... */
#canadasEnergyFutureVisualization .vizModal .modalHeader {
  border-bottom: 1px solid #e5e5e5;
}

#canadasEnergyFutureVisualization .vizModal .modalHeader {
  height: 40px;
}

#canadasEnergyFutureVisualization .vizModal .modalHeader h1 {
  font-size: 20px;
  margin: 10px 0 10px 0;
  line-height: 1em;
  display: inline-block;
}

#canadasEnergyFutureVisualization .vizModal .modalHeader .closeButton {
  margin: 10px 0px 10px 0px;
  float: right;
  height: 20px;
  padding: 0;
  cursor: pointer;
}


#canadasEnergyFutureVisualization .vizModal h1 {
  font-size: 20px;
}

#canadasEnergyFutureVisualization .vizModal h2 {
  font-size: 18px;
}

#canadasEnergyFutureVisualization .vizModal h1,
#canadasEnergyFutureVisualization .vizModal h2 {
  margin: 10px 0px 10px 0px;
  line-height: 1em;
}




#canadasEnergyFutureVisualization .vizModal p
{
  font-family: Avenir Next Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.1em;
  padding-left: 10px;
}

#canadasEnergyFutureVisualization .vizModal .columnLeft {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 7.5px;
  margin-top: 10px;
}

#canadasEnergyFutureVisualization .vizModal .imageColumnLeft {
  width: 20%;
  float: left;
  box-sizing: border-box;
}

#canadasEnergyFutureVisualization .vizModal .columnRight {
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding-left: 7.5px;
  margin-top: 10px;
}

#canadasEnergyFutureVisualization .vizModal .textColumnRight {
  width: 80%;
  float: left;
  box-sizing: border-box;
  padding-left: 15px;
}

#canadasEnergyFutureVisualization .vizModal .textColumnRight h2 {
  margin-top: 0;
}

#canadasEnergyFutureVisualization .vizModal .textColumnRight p {
  padding: 0;
}


#canadasEnergyFutureVisualization .vizModal img.sourceIcon {
  height: 28px;
  width: 28px;
  float: left;
  margin: 0px 10px 5px 0px;
}

#canadasEnergyFutureVisualization img.sectorIcon {
  width: 100%;
  margin: 0;
}


#canadasEnergyFutureVisualization #renderedImageContainer img {
  box-sizing: border-box;
  width: 75%;
  height: auto;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  padding: 3px;
}

#canadasEnergyFutureVisualization #imageDownloadSpinnerContainer {
  width: 100px;
  margin: auto;
}

#canadasEnergyFutureVisualization #imageDownloadSpinner {
  margin: -50%;
}



#canadasEnergyFutureVisualization #modalImageDownloadButtonContainer {
  margin: 10px 0px 10px 0px;
}


/* WET stylesheets will make our download link blue without this */
#canadasEnergyFutureVisualization #modalImageDownloadButton {
  color: #333333;
}


/*
  These columns are designed to support two layouts:
  selectorColumn - smallSelectorColumn - wideVisualizationColumn
  selectorColumn - smallSelectorColumn - smallSelectorColumn - narrowVisualizationColumn
*/

#canadasEnergyFutureVisualization .selectorColumn {
  width: 13%;
  float: left;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .smallSelectorColumn {
  width: 7%;
  float: left;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .smallSelectorColumn_leftAligned {
  width: 6%;
  float: left;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .smallSelectorColumn_rightAligned {
  width: 3.2%;
  float: right;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .narrowVisualizationColumn {
  width: 73%;
  float: left;
  box-sizing: border-box;
}
/*#canadasEnergyFutureVisualization .viz5VisualizationColumn {
  width: 79%;
  float: left;
  box-sizing: border-box;
}*/
#canadasEnergyFutureVisualization .allCanadaMode {
  width: 81%;
  float: left;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .twoProvincesMode {
  width: 77.5%;
  float: left;
  box-sizing: border-box;
}
#canadasEnergyFutureVisualization .wideVisualizationColumn {
  width: 80%;
  float: left;
  box-sizing: border-box;
}

#canadasEnergyFutureVisualization .clearfix {
  clear: both;
  padding: 0;
}


#canadasEnergyFutureVisualization .vizNavbarItem {
  float: left;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  padding: 0;
  overflow: hidden;
  /* This inset drop shadow creates the illusion that the element to the left has cast a shadow on the current element */
  box-shadow: inset 5px 0px 5px -5px black;
}

#canadasEnergyFutureVisualization .navbarSelectedItem {
  height: 100%;
}

#canadasEnergyFutureVisualization .navbarSelectedItem span {
  font-size: 36px;
  margin-top: 7px;
  line-height: 1em;
  height: 43px;
  margin-left: 15px;
  white-space: nowrap;
  display: inline-block;
  font-weight: 400;
}

@media (max-width: 1000px) {
  #canadasEnergyFutureVisualization .navbarSelectedItem span {
    font-size: 26px;
    margin-top: 12px;
    height: 38px;
  }
}


#canadasEnergyFutureVisualization h1.viz1HelpTitle,
#canadasEnergyFutureVisualization h2.viz1HelpTitle{
  color: rgb(103, 153, 204) !important;
}
#canadasEnergyFutureVisualization h1.viz2HelpTitle,
#canadasEnergyFutureVisualization h2.viz2HelpTitle{
  color: rgb(52, 153, 153) !important;
}
#canadasEnergyFutureVisualization h1.viz3HelpTitle,
#canadasEnergyFutureVisualization h2.viz3HelpTitle{
  color: rgb(54, 55, 150) !important;
}
#canadasEnergyFutureVisualization h1.viz4HelpTitle,
#canadasEnergyFutureVisualization h2.viz4HelpTitle{
  color: rgb(202, 152, 48) !important;
}
#canadasEnergyFutureVisualization h1.viz5HelpTitle,
#canadasEnergyFutureVisualization h2.viz5HelpTitle{
  color: rgb(204, 102, 102) !important;
}


#canadasEnergyFutureVisualization .navbarUnselectedItem span {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1em;
  
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 400;
}

#canadasEnergyFutureVisualization .navbarHelpIcon {
  width: 50px;
  height: 50px;
  float: left;
}
#canadasEnergyFutureVisualization .navbarMenuIcon {
  width: 50px;
  height: 50px;
  float: left;
}

#canadasEnergyFutureVisualization .navbarHelpIcon.selected,
#canadasEnergyFutureVisualization .navbarMenuIcon.selected
 {
  background-color: #ffffff;
}


#canadasEnergyFutureVisualization .navbarHelpIcon img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

#canadasEnergyFutureVisualization .navbarMenuIcon img {
  height: 30px;
  width: 30px;
  margin: 10px;
}

#canadasEnergyFutureVisualization .vizNavbarHomeButton {
  width: 100%;
  height: 100%;
  background-color: rgb(51, 51, 51);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 20px;
  background-image: url(../IMG/home.png);  
}

#canadasEnergyFutureVisualization .vizNavbarHomeButton:focus {
  box-shadow: inset 0px 0px 0px 3px #F00;
}

#canadasEnergyFutureVisualization #legendSelector {
  padding-top: 25px;
}

#canadasEnergyFutureVisualization .vizButton {
  border-style: solid;
  border-width: 2px;
  border-color: #333333;
  border-radius: 0px;
  background-color: white;
  color: #333333;
  padding-top: 0.33em;
  padding-bottom: 0.25em;
  width: 100%;
  margin-bottom: 3px;
  box-sizing: border-box;
  cursor: pointer;
}


#canadasEnergyFutureVisualization .vizButton.selected {
  background-color: #333333;
  color: white;
}

#canadasEnergyFutureVisualization .mainSelectorButton {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1000px) {
  #canadasEnergyFutureVisualization .mainSelectorButton {
    font-size: 82%;
    line-height: 1em;
  }
}

@media (max-width: 1000px) {
  #canadasEnergyFutureVisualization .mainSelectorButton {
    font-size: 70%;
  }
}

#canadasEnergyFutureVisualization .mainSelectorLabel {
  font-size: 80%;
}
#canadasEnergyFutureVisualization .mainSelectorImage {
  margin: 0;
  padding: 0 5% 0 5%;
  max-width: 90%;
}

#canadasEnergyFutureVisualization .singleSelectorButton {
  width: 100%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

#canadasEnergyFutureVisualization .datasetSelectorSection,
#canadasEnergyFutureVisualization .datasetSelectorGroup,
#canadasEnergyFutureVisualization .mainSelectorSection,
#canadasEnergyFutureVisualization .unitsSelectorGroup,
#canadasEnergyFutureVisualization .scenarioSelectorGroup,
#canadasEnergyFutureVisualization .sectorSelectorGroup,
#canadasEnergyFutureVisualization .viewBySelectorGroup,
#canadasEnergyFutureVisualization #provincesSelector,
#canadasEnergyFutureVisualization #leftProvincesSelector,
#canadasEnergyFutureVisualization #rightProvincesSelector,
#canadasEnergyFutureVisualization #powerSourceSelector,
#canadasEnergyFutureVisualization .legendGroup {
  position: relative;
}

#canadasEnergyFutureVisualization .sectorSelectorButton.sectorImageButton {
  width: 45%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}


#canadasEnergyFutureVisualization .sectorSelectorButton.topLeftSector {
  margin-top: 7px;
  margin-right: 5%;
  margin-bottom: 7px;
}
#canadasEnergyFutureVisualization .sectorSelectorButton.topRightSector {
  margin-top: 7px;
  margin-left: 5%;
  margin-bottom: 7px;
}
#canadasEnergyFutureVisualization .sectorSelectorButton.bottomLeftSector {
  margin-right: 5%;
}
#canadasEnergyFutureVisualization .sectorSelectorButton.bottomRightSector {
  margin-left: 5%;
}

#canadasEnergyFutureVisualization .sectorSelectorButton.sectorImageButton img {
  width: 100%;
}

#canadasEnergyFutureVisualization .pointerCursor {
  cursor: pointer;
}

#canadasEnergyFutureVisualization .sectorSelectorButton.totalSectorButton {
  width: 100%;
}



#canadasEnergyFutureVisualization .sectorSelectorButton img {
  margin: 0;
}


#canadasEnergyFutureVisualization .vizboxAnchor {
  cursor: pointer;
}


/* 1st gen colours */
/*#canadasEnergyFutureVisualization .vizButton.reference {
  color: #999999;
  border-color: #999999;
}
#canadasEnergyFutureVisualization .vizButton.reference.selected {
  background-color: #999999;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.high {
  color: #0C2C84;
  border-color: #0C2C84 ;
}
#canadasEnergyFutureVisualization .vizButton.high.selected {
  background-color: #0C2C84;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.highLng {
  color: #225EA8;
  border-color: #225EA8;
}
#canadasEnergyFutureVisualization .vizButton.highLng.selected {
  background-color: #225EA8;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.constrained {
  color: #41B6C4;
  border-color: #41B6C4;
}
#canadasEnergyFutureVisualization .vizButton.constrained.selected {
  background-color: #41B6C4;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.low {
  color: #7FCDBB;
  border-color: #7FCDBB;
}
#canadasEnergyFutureVisualization .vizButton.low.selected {
  background-color: #7FCDBB;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.noLng {
  color: #C7E9B4;
  border-color: #C7E9B4;
}
#canadasEnergyFutureVisualization .vizButton.noLng.selected {
  background-color: #C7E9B4;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.technology {
  color: #C7E9B4;
  border-color: #C7E9B4;
}
#canadasEnergyFutureVisualization .vizButton.technology.selected {
  background-color: #C7E9B4;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.hcp {
  color: #7FCDBB;
  border-color: #7FCDBB;
}
#canadasEnergyFutureVisualization .vizButton.hcp.selected {
  background-color: #7FCDBB;
  color: white;
}*/

/* 2nd gen colours */
#canadasEnergyFutureVisualization .vizButton.reference {
  color: #999999;
  border-color: #999999;
}
#canadasEnergyFutureVisualization .vizButton.reference.selected {
  background-color: #999999;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.high {
  color: #6C5AEB;
  border-color: #6C5AEB;
}
#canadasEnergyFutureVisualization .vizButton.high.selected {
  background-color: #6C5AEB;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.highLng {
  color: #2B6762;
  border-color: #2B6762;
}
#canadasEnergyFutureVisualization .vizButton.highLng.selected {
  background-color: #2B6762;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.constrained {
  color: #0B3CB4;
  border-color: #0B3CB4;
}
#canadasEnergyFutureVisualization .vizButton.constrained.selected {
  background-color: #0B3CB4;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.low {
  color: #082346;
  border-color: #082346;
}
#canadasEnergyFutureVisualization .vizButton.low.selected {
  background-color: #082346;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.noLng {
  color: #3692fa;
  border-color: #3692fa;
}
#canadasEnergyFutureVisualization .vizButton.noLng.selected {
  background-color: #3692fa;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.technology {
  color: #3692fa;
  border-color: #3692fa;
}
#canadasEnergyFutureVisualization .vizButton.technology.selected {
  background-color: #3692fa;
  color: white;
}
#canadasEnergyFutureVisualization .vizButton.hcp {
  color: #0B3CB4;
  border-color: #0B3CB4;
}
#canadasEnergyFutureVisualization .vizButton.hcp.selected {
  background-color: #0B3CB4;
  color: white;
}

#canadasEnergyFutureVisualization .vizButton.disabled {
  color: gray;
  border-color: gray;

  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), rgba(155,155,155,1) 50%, transparent calc(50% + 0.8px), transparent 100%);
  background: linear-gradient(to top right, transparent, transparent 50%, gray 50%, gray 51%, transparent 52%);

}

#canadasEnergyFutureVisualization span.disabled {
  background-color: white;
  display: inline-block;
}

#canadasEnergyFutureVisualization span.textCentre {
  text-align: center;
}

#canadasEnergyFutureVisualization .selectorGroup {
  margin-bottom: 25px;
  padding: 0px 0px 0px 0px;
}

#canadasEnergyFutureVisualization span.titleLabel {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

#canadasEnergyFutureVisualization span.floatedTitleLabel {
  float: left;
  display: block;
  margin-bottom: 5px;
  /* Max width because the question mark icon to the right of the label will be pushed to the next line if the label text is too long. */
  max-width: 80%;
}

#canadasEnergyFutureVisualization .helpIconButton {
  width: 1em;
  height: 1em;
  float: right;
  margin: 0;
}

#canadasEnergyFutureVisualization .viz5MediaButtons{
  width: 100%;
  position:absolute;
  z-index: 10;
  bottom: 0;
}

#canadasEnergyFutureVisualization .mediaButtons{
  width: 100%;
}

#canadasEnergyFutureVisualization .playPauseButton {
  width: 45%;
}
#canadasEnergyFutureVisualization .playPauseButton img{

  float: right;
  padding: 0.1em;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
}



#canadasEnergyFutureVisualization .provinceLabel h2 {
  padding: 5.75px;
}


#canadasEnergyFutureVisualization .provinceLabelAB h2 {
  color: #2278B5 !important;
}
#canadasEnergyFutureVisualization .provinceLabelBC h2 {
  color: #AEC7E8 !important;
}
#canadasEnergyFutureVisualization .provinceLabelMB h2 {
  color: #FCBB78 !important;
}
#canadasEnergyFutureVisualization .provinceLabelNB h2 {
  color: #2FA148 !important;
}
#canadasEnergyFutureVisualization .provinceLabelNL h2 {
  color: #9ED089 !important;
}
#canadasEnergyFutureVisualization .provinceLabelNT h2 {
  color: #D62A28 !important;
}
#canadasEnergyFutureVisualization .provinceLabelNS h2 {
  color: #F69797 !important;
}
#canadasEnergyFutureVisualization .provinceLabelNU h2 {
  color: #9268ac !important;
}
#canadasEnergyFutureVisualization .provinceLabelON h2 {
  color: #C5B1D6 !important;
}
#canadasEnergyFutureVisualization .provinceLabelPE h2 {
  color: #8D574C !important;
}
#canadasEnergyFutureVisualization .provinceLabelQC h2 {
  color: #c49c94 !important;
}
#canadasEnergyFutureVisualization .provinceLabelYT h2 {
  color: #F5B6D1 !important;
}
#canadasEnergyFutureVisualization .provinceLabelSK h2 {
  color: #d77ab1 !important;
}


#canadasEnergyFutureVisualization .sourceLabelelectricity h2 {
  color: #33cccc !important;
}
#canadasEnergyFutureVisualization .sourceLabelcoal h2 {
  color: #996733 !important;
}
#canadasEnergyFutureVisualization .sourceLabelnaturalGas h2 {
  color: #f16739 !important;
}
#canadasEnergyFutureVisualization .sourceLabeloilProducts h2 {
  color: #cc6699 !important;
}
#canadasEnergyFutureVisualization .sourceLabelsolarWindGeothermal h2 {
  color: #339947 !important;
}
#canadasEnergyFutureVisualization .sourceLabelbio h2 {
  color: #8d68ac !important;
}
#canadasEnergyFutureVisualization .sourceLabelhydro h2 {
  color: #4167b0 !important; 
}
#canadasEnergyFutureVisualization .sourceLabelnuclear h2 {
  color: #cbcb30 !important;
}



#canadasEnergyFutureVisualization .howToImageContainer img {
  max-width: 100%
}

#canadasEnergyFutureVisualization .howToNavigation button {
  width : 50%;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  cursor: pointer;
}

#canadasEnergyFutureVisualization .howToNavigation button[disabled] {
  cursor: default;
}





#mainPanel > div {
  padding: 10px;
}



/* Overide the download icon that the WET3 theme attaches automatically to the data download link
*/

#canadasEnergyFutureVisualization [href$=".zip"] {
  background-image: none;
  padding-left: 0;
}

/* In certain IE browsers the axis was drawing outside of the svg */
svg { overflow: hidden; }



#canadasEnergyFutureVisualization #dataLoadContainer {
  position: absolute;
  left: 50%;
  top: 35%;
}

#canadasEnergyFutureVisualization #dataLoadSpinner {
  position: relative;
  margin: -50%;
}

#canadasEnergyFutureVisualization a:focus, 
#canadasEnergyFutureVisualization .closeButton:focus,
#canadasEnergyFutureVisualization .navbarButton:focus img,
#canadasEnergyFutureVisualization .helpIconButton:focus,
#canadasEnergyFutureVisualization .squareMenuHelpButton:focus,
#canadasEnergyFutureVisualization .thumbnailContainer:focus,
#canadasEnergyFutureVisualization .mainSelectorButton:focus,
#canadasEnergyFutureVisualization .sectorSelectorButton img:focus,
#canadasEnergyFutureVisualization .vizButton:focus,
#canadasEnergyFutureVisualization #sliderLabel:focus,
#canadasEnergyFutureVisualization .menuItem image:focus,
#canadasEnergyFutureVisualization .selectAllGroup image:focus,
#canadasEnergyFutureVisualization #graphPanel:focus,
#canadasEnergyFutureVisualization #graphPanel:focus .accessibleFocus
{
  outline: solid red 2px;
}

#canadasEnergyFutureVisualization .timelineHighlightedSection {
  stroke-width: 4;
  stroke: black;
}

#canadasEnergyFutureVisualization .float-right {
  float: right;
  height: 100%;
}

#canadasEnergyFutureVisualization #canadaMapSVG {
  max-width:100%
  height:auto;
  transition: opacity 1s ease-in-out;
}

#canadasEnergyFutureVisualization .navbarTitle:focus {
  outline: solid red 2px;
}

/* Hidden from regular users, visible to screen readers and other AT */
#canadasEnergyFutureVisualization #accessibleStatus {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

#canadasEnergyFutureVisualization .menuItem {
  /* Necessary to enable drag on touch for new versions of IE/Edge */
  touch-action: none;
}


#canadasEnergyFutureVisualization #vizPlayButton {
  float: left;
}

#canadasEnergyFutureVisualization #vizPauseButton {
  float: right;
}

#canadasEnergyFutureVisualization #accessibleFocusDot {
  display: none;
  outline: none white 0px;
}

#canadasEnergyFutureVisualization #graphPanel:focus #accessibleFocusDot {
  /* We want to reset this back to its default when focused. Inline seems to be the default for SVG elements. */
  display: inline; 
  outline: unset;
}


#canadasEnergyFutureVisualization #graphPanel:focus circle.accessibleFocus {
  /* Use the SVG stroke to highlight this element instead of outline */
  outline: none;
  stroke-width: 3px;
  stroke: red;
}


#canadasEnergyFutureVisualization .pillPopover {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 7px;
  background-color: white;

  width: 220px;
  height: 125px;

  /* Beneath the pills */
  /* NB: Wet navbar is styled with z-index 500, and we desire for the popover to cover it if need be */
  z-index: 1000; 

  box-sizing: border-box;
}

#canadasEnergyFutureVisualization .pillPopoverPaddingBottom {
  /* Keep me in sync with pill height (half) */
  padding-bottom: 15.5px; 
}
#canadasEnergyFutureVisualization .pillPopoverPaddingTop {
  /* Keep me in sync with pill height (half) */
  padding-top: 15.5px; 
}
#canadasEnergyFutureVisualization .pillPopoverHeading {
  font-size: 18px;
  margin: 0 0 10px 0;
}
#canadasEnergyFutureVisualization .pillPopoverText {
  font-size: 16px;
  font-family: Avenir Next Demi Condensed, Arial Narrow, Arial, Verdana, sans-serif;
  display: block;
  margin: 0 0 0 10px;
}
#canadasEnergyFutureVisualization .pillPopoverTextSmall {
  font-size: 12px;
  font-family: Avenir Next Demi Condensed, Arial Narrow, Arial, Verdana, sans-serif;
  display: block;
  margin: 0 0 10px 20px;
}

/* The extra declaration for h1 is to override a WET style */
#canadasEnergyFutureVisualization .pillPopover.electricity,
#canadasEnergyFutureVisualization .pillPopover.electricity h1 {
  color: #33cccc !important;
  border-color: #33cccc;
}
#canadasEnergyFutureVisualization .pillPopover.naturalGas, 
#canadasEnergyFutureVisualization .pillPopover.naturalGas h1 {
  color: #f16739;
  border-color: #f16739;
}
#canadasEnergyFutureVisualization .pillPopover.bio,
#canadasEnergyFutureVisualization .pillPopover.bio h1 {
  color: #8d68ac !important;
  border-color: #8d68ac;
}
#canadasEnergyFutureVisualization .pillPopover.solarWindGeothermal,
#canadasEnergyFutureVisualization .pillPopover.solarWindGeothermal h1 {
  color: #339947 !important;
  border-color: #339947;
}
#canadasEnergyFutureVisualization .pillPopover.coal,
#canadasEnergyFutureVisualization .pillPopover.coal h1 {
  color: #996733 !important;
  border-color: #996733;
}
#canadasEnergyFutureVisualization .pillPopover.oilProducts,
#canadasEnergyFutureVisualization .pillPopover.oilProducts h1 {
  color: #cc6699 !important;
  border-color: #cc6699;
}









