
/* 

This slightly mysterious CSS allows us to position the iframe inline with the content of the page and have it resize appropriately. If the aspect ratio of the visualization content changes, the padding-bottom values may need to change also. 

NB: if the height of the page content changes, the padding here should be bumped up too.

Inspired by: https://benmarshall.me/responsive-iframes/

*/

#energy-future-outer-container {
  position: relative;
  width: 100%;
  padding-bottom: 900px;
}

#energy-future-iframe-container {
  position: absolute;
  width: 100%;
  padding-bottom: 900px;
}

#energy-future-iframe {
  width: 100%;
  height: 100%;
  border: none;

  position: absolute;
  top: 0;
  left: 0;
}
