

body {
  background-color: white;

  font-family: Avenir Next Demi Condensed, 'PT Sans Narrow', Arial Narrow, Arial, Verdana, sans-serif !important;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  color: #333333;

  width: 1200px;
  margin: 0;
}

.legendColumn {
  width: 100px;
  float: left;
}

.graphColumn {
  width: 1065px;
  float: left;
  margin-right: 35px;
}


.hidden {
  display: none;
}

.centreText {
  text-align: center;
}

.clearfix {
  clear: both;
  padding: 0;
}

.legendItem {
  margin: 0px auto 20px auto;
  display: block;
}

h1 {
  margin-top: 30px;
}


.scenarioLegend {
  width: 100px;
  margin-left: 35px;
  margin-right: 35px;
  float: left;
}

.viz4GraphColumn {
  width: 995px;
  float: left;
  margin-right: 35px;
}

.scenarioLegend div {
  margin: 0px auto 20px auto;
  padding-top: 0.5em;  
  padding-bottom: 0.5em;  
}

/* 1st gen colours */

/*.scenarioLegend .reference {
  background-color: #999999;
  color: white;
}

.scenarioLegend .high {
  background-color: #0C2C84;
  color: white;
}

.scenarioLegend .highLng {
  background-color: #225EA8;
  color: white;
}

.scenarioLegend .constrained{
  background-color: #41B6C4;
  color: white;
}

.scenarioLegend .low, .scenarioLegend .hcp {
  background-color: #7FCDBB;
  color: white;
}

.scenarioLegend .noLng, .scenarioLegend .technology  {
  background-color: #C7E9B4;
  color: white;
}*/

/* 2nd gen colours */

.scenarioLegend .reference {
  background-color: #999999;
  color: white;
}

.scenarioLegend .high {
  background-color: #6C5AEB;
  color: white;
}

.scenarioLegend .highLng {
  background-color: #2B6762;
  color: white;
}

.scenarioLegend .constrained{
  background-color: #0B3CB4;
  color: white;
}

.scenarioLegend .low {
  background-color: #082346;
  color: white;
}

.scenarioLegend .hcp {
  background-color: #0B3CB4;
  color: white;
}

.scenarioLegend .noLng {
  background-color: #FAEE3D;
  color: black;
}

.scenarioLegend .technology {
  background-color: #FAEE3D;
  color: black;
}


.informationContainer {
  margin-left: 35px;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.logoImage {
  margin-right: 35px;
  float: right;
  width: 25%;
  box-sizing: border-box;
}

