<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="ProductionServer.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="ProductionServer.js"/>
        </rule>

      </rules>
    </rewrite>
    
    <iisnode
      loggingEnabled="false"
     />


  </system.webServer>

</configuration>
