<?xml version="1.0"?>
<configuration>
    <system.webServer>

      <handlers>
        <add name="iisnode" path="ProductionServer.js" verb="*" modules="iisnode" />
      </handlers>

      <!-- If enabled, logs are written to DVWeb/node_app/JS/servers/ProductionServer/iisnode -->
      <iisnode
         loggingEnabled="false"
      />

    </system.webServer>
</configuration>
