$breakpoints: (
  "small": 768px,
  "medium": 992px,
  "large": 1200px,
);

$viewports: (
  "small": (w: 746px, h: 538px),
  "medium": (w: 968px, h: 698px),
  "large": (w: 1168px, h: 843px),
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin fillViewport($size, $minMode: false) {
  $viewport: map-get($viewports, $size);
  width: map-get($viewport, "w");
  @if $minMode {
    min-height: map-get($viewport, "h");
  } @else {
    height: map-get($viewport, "h");
  }
  position: relative;
}
