@import './breakpoints';

@mixin grid-sizes($gridSizes, $size) {
  $viewPort: map-get($viewports, $size);
  $gridUnit: map-get($viewPort, "w") / 120;

  @each $className, $values in $gridSizes {
    .#{$className} {
      position: absolute;
      overflow: hidden;

      top: map-get($values, "y") * $gridUnit;
      left: map-get($values, "x") * $gridUnit;
      @if map-has-key($values, "w") {
        width: map-get($values, "w") * $gridUnit;
      }
      @if map-has-key($values, "h") {
        height: map-get($values, "h") * $gridUnit;
      }

      /* Uncomment this for a visual guide when tweaking the layout of grid components. */
      // outline: 1px dashed magenta;
    }
  }

  @include fillViewport($size);
}

@mixin grid($gridSizes) {
  box-sizing: border-box;

  &.layoutOnly > section {
    background: #F1F3F4;

    &:after {
      content: attr(class);
      display: block;
      text-align: center;
      font-size: 50px;
    }

    > * { display: none; }
  }

  @include grid-sizes($gridSizes, "small");
  @include breakpoint("medium") { @include grid-sizes($gridSizes, "medium"); }
  @include breakpoint("large") { @include grid-sizes($gridSizes, "large"); }

  @content;
}
