@import './borders.scss';
@import './breakpoints';
@import './colors';
@import './fontVariables';

// arrow-size should match the List component's code's arrowSize variable
// (there are testing issues with :export)
$arrow-size: 24px;
$button-spacing: calc(#{$arrow-size} + 0.75em);
$item-padding: 0.25em;
$item-data-width-percentage: 50%;

%legend {
  text-align: left;
  font-size: 14px;

  color: $Gray160;

  .List .List-Item.selected {
    margin-bottom: 0.5em;

    .LegendItem {
      font-family: $fira-sans-condensed;
      color: $Black77;
      line-height: 1.4em;
      border: $list-selected;
      background-color: white;
    }
  }
}

%legendItem {
  height: 100%;
  padding: 0.1em;
}

%legendItemData {
  width: $item-data-width-percentage;
  height: 100%;
  padding-right: 0.5em;
}
