<div class="modalHeader"> 
  <img id="aboutPopoverCloseButton" tabindex='0' class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' role='button'/> 
  <div>
    <h5 id='aboutPopoverHeading' tabindex="-1"> {{ aboutTitle }} </h5>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="modalContent"> {{{ aboutContent }}} </div>
