<div class="modalHeader"> 
  <h1 id='aboutPopoverHeading' tabindex="-1"> {{ aboutTitle }} </h1>
  <img id="aboutPopoverCloseButton" tabindex='0' class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' role='button'/> 
  <div class="clearfix"> </div>
</div>
<div> {{{ aboutContent }}} </div>
