<a href="#" id="aboutLinkAnchor">
  <div id="aboutLink" class="leftItem">{{ aboutLink }}</div>
</a>
<a href="{{ methodologyLinkUrl }}" target="_blank" id="methodologyLinkAnchor">
  <div class="leftItem">{{ methodologyLinkText }}</div>
</a>

<a href="#" id="twitterLinkAnchor">
  <div class="twitterItem">
    <img src='IMG/social_media/twitter.svg'>
  </div>
</a>
<a href="#" id="linkedInLinkAnchor">
  <div class="linkedinItem">
    <img src='IMG/social_media/linkedin.svg'>
  </div>
</a>
<a href="#" id="emailLinkAnchor">
  <div class="emailItem"> 
    <img src='IMG/social_media/email.svg'>
  </div>
</a>
<div class="rightItem">{{ shareLabel }}</div>

<div class="rightItem spacer"></div>

<div class="rightItem" id="dataDownloadLinkAnchor">  
  <a id='dataDownloadLink' data-ajax="false" download='2016-10-27_CanadasEnergyFutureVisualizationData.zip'>
  {{! <a id='dataDownloadLink' data-ajax="false" download='vizData.zip'> }}
    {{ dataDownloadLink }}
  </a>
</div>
<a id='imageDownloadLink' href="#">
  <div class="rightItem">{{ imageDownloadLink }}</div>
</a>
