<div id='controlsHelpPopover' role="dialog" aria-labelledby="controlsHelpPopoverHeading">
  <div class="modalHeader"> 
    <h1 id="controlsHelpPopoverHeading" tabindex='-1' class="{{ classes }}"> {{ title }} </h1>
    <img class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' tabindex='0' role='button'/> 
    <div class="clearfix"> </div>
  </div>
  <div> {{{ content }}} </div>
</div>
