<div class="modalContent">

  <div class="howToImageContainer imageAContainer">
    <img src="{{ imageAUrl }}">
  </div> 

  <div class="howToImageContainer imageBContainer hidden">
    <img src="{{ imageBUrl }}">
  </div> 

  <div class="howToNavigation">
    <button class="howToBackButton" type="button" disabled> 
      <img src="IMG/howto/light-left-arrow.png">
    </button>
    <button class="howToForwardButton" type="button"> 
      <img src="IMG/howto/dark-right-arrow.png">
    </button>
  </div>

</div>
