<div class="modalHeader"> 
  <h1 id='imageDownloadPopoverHeading' tabindex="-1"> {{ imageDownloadHeader }} </h1>
  <img class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' tabindex='0' role='button'/> 
  <div class="clearfix"> </div>
</div>

<div>

  <div id="imageDownloadSpinnerContainer"> 

    <div id="imageDownloadSpinner">
      <div>
        <!-- NB: These empty divs are required for the CSS loading spinner styling. -->
        <div class='uil-spin-css'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
      </div>
    </div>

  </div>
  <div id="renderedImageContainer">
  </div>

  <div id="modalImageDownloadButtonContainer">
    <a id="modalImageDownloadButton" href="#">{{ imageDownloadButton }}</a>
  </div>
</div>
