<div id="landingPagePanel"> 
  <div id="panelRight">
    {{{ panelRightContent }}}
  </div>

  <div id="panelLeft">
    <p> {{{ content }}} </p>
  </div>
</div>

<div class="clearfix"> </div>  

<div id="thumbnailRow">
  <a id="viz1Anchor" href='#'>
    <div class='thumbnailContainer'>
      <div class="imgContainer viz1Img"> </div>
      <div class='vizLinkBox viz1linkBox'>
        <span> {{ visualization1Link }} </span>
      </div>
    </div>
  </a>
  <a id="viz2Anchor" href='#'>
    <div class='thumbnailContainer'>
      <div class="imgContainer viz2Img"> </div>
      <div class='vizLinkBox viz2linkBox'>
        <span> {{ visualization2Link }} </span>
      </div>
    </div>
  </a>
  <a id="viz3Anchor" href='#'>
    <div class='thumbnailContainer'>
      <div class="imgContainer viz3Img"> </div>
      <div class='vizLinkBox viz3linkBox'>
        <span> {{ visualization3Link }} </span>
      </div>
    </div>
  </a>
  <a id="viz4Anchor" href='#'>
    <div class='thumbnailContainer'>
      <div class="imgContainer viz4Img"> </div>
      <div class='vizLinkBox viz4linkBox'>
        <span> {{ visualization4Link }} </span>
      </div>
    </div>
  </a>
  <div class="clearfix"> </div>  
</div>
