<div id="landingPagePanel"> 
  <div id="panelLeft" class={{{ panelClass }}}>
     {{{ content }}} 
  </div>

  <div id="panelRight" class={{{ panelClass }}}>
    {{{ panelRightContent }}}
  </div>
</div>

<div class="clearfix"> </div>  

<div id="thumbnailRow">
  <div class='thumbnailContainer' id="viz1Anchor" tabindex='0' role='button' aria-label='{{visualization1Link}}'>
    <div class="imgContainer viz1Img"> </div>
    <div class='vizLinkBox viz1linkBox'>
      <span> {{ visualization1Link }} </span>
    </div>
  </div>
  <div class='thumbnailContainer' id="viz2Anchor" tabindex='0' role='button' aria-label='{{visualization2Link}}'>
    <div class="imgContainer viz2Img"> </div>
    <div class='vizLinkBox viz2linkBox'>
      <span> {{ visualization2Link }} </span>
    </div>
  </div>
  <div class='thumbnailContainer' id="viz3Anchor" tabindex='0' role='button' aria-label='{{visualization3Link}}'>
    <div class="imgContainer viz3Img"> </div>
    <div class='vizLinkBox viz3linkBox'>
      <span> {{ visualization3Link }} </span>
    </div>
  </div>
  <div class='thumbnailContainer' id="viz4Anchor" tabindex='0' role='button' aria-label='{{visualization4Link}}'>
    <div class="imgContainer viz4Img"> </div>
    <div class='vizLinkBox viz4linkBox'>
      <span> {{ visualization4Link }} </span>
    </div>
  </div>
  <div class='thumbnailContainer' id="viz5Anchor" tabindex='0' role='button' aria-label='{{visualization5Link}}'>
    <div class="imgContainer viz5Img"> </div>
    <div class='vizLinkBox viz5linkBox'>
      <span> {{ visualization5Link }} </span>
    </div>
  </div>
  <div class="clearfix"> </div>  
</div>
