
<div class="modalHeader"> 
  <h1 id='navbarInfoPopoverHeading' tabindex="-1" class="{{ infoPopoverHeaderClass }}" > {{ infoPopoverHeader }} </h1>
  <img class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' tabindex='0' role='button'/> 
  <div class="clearfix"> </div>
</div>

<div>
  {{{ infoPopoverText }}}
</div>
