
<div class="modalHeader"> 
  <h1 id='navbarHelpPopoverHeading' tabindex="-1" class="{{ helpPopoverHeaderClass }}" > {{ helpPopoverHeader }} </h1>
  <img class="closeButton" src="IMG/close_button.svg" alt='{{ closeButtonAltText }}' tabindex='0' role='button'/> 
  <div class="clearfix"> </div>
</div>

<div>

  <div class="howToImageContainer imageAContainer">
    <img src="{{ imageAUrl }}" alt='{{ imageAltText }}'>
  </div> 

  <div class="howToImageContainer imageBContainer hidden">
    <img src="{{ imageBUrl }}" alt='{{ imageAltText }}'>
  </div> 

  <div class="howToNavigation">
    <button class="howToBackButton" type="button" disabled> 
      <img src="IMG/howto/light-left-arrow.png" alt='{{ previousImageAltText }}' >
    </button>
    <button class="howToForwardButton" type="button"> 
      <img src="IMG/howto/dark-right-arrow.png" alt='{{ nextImageAltText }}' >
    </button>
  </div>

</div>
