

<h1 class="pillPopoverHeading"> {{ headingText }} </h1>
<span class="pillPopoverText"> {{ baseDemandText }} </span>
<span class="pillPopoverTextSmall"> {{ baseDemandAmounts }} </span>
<span class="pillPopoverText"> {{ comparisonDemandText }} </span>
<span class="pillPopoverTextSmall"> {{ comparisonDemandAmounts }} </span>




