<div class="modalHeader"> 
  <img class="closeButton" src="IMG/close_button.svg"/> 

  <h5 class="{{visClass}}"> {{ popUpTitle}} </h5>

  <div class="clearfix"> </div>
</div>
<div class="modalContent"> {{{ popUpContent }}} </div>
