<div> 

  <div class="centreText"> 
    <h1>
      {{title}}
    </h1>
  </div>

  <div class='legendColumn'>
    {{#legendContent}}
      <img src={{img}} class='legendItem'></img>
    {{/legendContent}}
  </div>

  <div id="graphPanel" class="narrowVisualizationColumn">
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <defs> </defs>
      <style> {{ svgStylesheet }} </style>
      <g id="xAxisGrid"> </g>
      <g id="yAxisGrid"> </g>
      <g id="xAxis"> 
        <g id="xAxisForLabels"> </g>
        <g id="xAxisForTicks"> </g>
      </g>
      <g id="yAxis"> </g>
      <g id="graphGroup"> </g>
    </svg>
  </div>

  <div class="clearfix"> </div>  

  <div class="centreText"> 
    <p>
      {{description}}
    </p>
    <p>
      {{energyFuturesSource}}
    </p>
    <p>
      {{bitlyLink}}
    </p>
  </div>

</div>


<div class="hidden"> 

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="powerSourcePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectSourceLabel}}</span>
    <div id="powerSourceSelector">
      <svg id="powerSourceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>

<div>
