<div id="wideVisualizationPanel"> 

  <div id="buttonPanel" class="selectorColumn">
    <div class="viewBySelectorGroup">  
      <span class="floatedTitleLabel">{{selectViewByLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton viewBySelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="viewBySelector"> </div>
      </div>
    </div>
    <div class="unitsSelectorGroup">    
      <span class="floatedTitleLabel">{{selectUnitLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton unitSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="unitsSelector"> </div>
      </div>
    </div>
    <div class="datasetSelectorGroup">
      <span class="floatedTitleLabel">{{selectDatasetLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton datasetSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="datasetSelector"></div>
      </div>
    </div>
    <div class="scenarioSelectorGroup">    
      <span class="floatedTitleLabel">{{selectScenarioLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton scenarioSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="scenariosSelector"> </div>
      </div>
    </div>
  </div>

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="powerSourcePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectSourceLabel}}</span>
    <div id="powerSourceSelector">
      <svg id="powerSourceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="graphPanel" class="narrowVisualizationColumn">
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <style> {{ svgStylesheet }} </style>
      <g id="graphGroup">  </g>
      <g id="timeline"> 
        <g id="timelineAxis"> </g>
        <rect id="timeLineTouch"> </rect>
      </g>
    </svg>
  </div>

  <div id='tooltip' class='chartTooltip'> </div>

</div>

<div class="hidden"> 
  <img src="IMG/sources/oil_products_selected.svg"> 
  <img src="IMG/sources/oil_products_unselected.svg"> 
  <img src="IMG/sources/nuclear_selected.svg"> 
  <img src="IMG/sources/nuclear_unselected.svg"> 
  <img src="IMG/sources/biomass_selected.svg"> 
  <img src="IMG/sources/biomass_unselected.svg"> 
  <img src="IMG/sources/naturalGas_selected.svg"> 
  <img src="IMG/sources/naturalGas_unselected.svg"> 
  <img src="IMG/sources/coal_selected.svg"> 
  <img src="IMG/sources/coal_unselected.svg"> 
  <img src="IMG/sources/solarWindGeo_selected.svg"> 
  <img src="IMG/sources/solarWindGeo_unselected.svg"> 
  <img src="IMG/sources/hydro_selected.svg"> 
  <img src="IMG/sources/hydro_unselected.svg"> 

  <img src="IMG/sources/oil_products_selectedR.svg"> 
  <img src="IMG/sources/oil_products_unselectedR.svg"> 
  <img src="IMG/sources/nuclear_selectedR.svg"> 
  <img src="IMG/sources/nuclear_unselectedR.svg"> 
  <img src="IMG/sources/biomass_selectedR.svg"> 
  <img src="IMG/sources/biomass_unselectedR.svg"> 
  <img src="IMG/sources/naturalGas_selectedR.svg"> 
  <img src="IMG/sources/naturalGas_unselectedR.svg"> 
  <img src="IMG/sources/coal_selectedR.svg"> 
  <img src="IMG/sources/coal_unselectedR.svg"> 
  <img src="IMG/sources/solarWindGeo_selectedR.svg"> 
  <img src="IMG/sources/solarWindGeo_unselectedR.svg"> 
  <img src="IMG/sources/hydro_selectedR.svg"> 
  <img src="IMG/sources/hydro_unselectedR.svg"> 

  <img src="IMG/sources/unavailable/hydro_unavailable.svg"> 
  <img src="IMG/sources/unavailable/oil_products_unavailable.svg"> 
  <img src="IMG/sources/unavailable/biomass_unavailable.svg"> 
  <img src="IMG/sources/unavailable/naturalGas_unavailable.svg"> 
  <img src="IMG/sources/unavailable/coal_unavailable.svg"> 
  <img src="IMG/sources/unavailable/solarWindGeo_unavailable.svg"> 
  <img src="IMG/sources/unavailable/nuclear_unavailable.svg"> 

  <img src="IMG/provinces/colour/AB_Selected.svg">
  <img src="IMG/provinces/colour/BC_Selected.svg">
  <img src="IMG/provinces/colour/MB_Selected.svg">
  <img src="IMG/provinces/colour/NB_Selected.svg">
  <img src="IMG/provinces/colour/NL_Selected.svg">
  <img src="IMG/provinces/colour/NS_Selected.svg">
  <img src="IMG/provinces/colour/NT_Selected.svg">
  <img src="IMG/provinces/colour/NU_Selected.svg">
  <img src="IMG/provinces/colour/ON_Selected.svg">
  <img src="IMG/provinces/colour/PEI_Selected.svg">
  <img src="IMG/provinces/colour/QC_Selected.svg">
  <img src="IMG/provinces/colour/Sask_Selected.svg">
  <img src="IMG/provinces/colour/Yukon_Selected.svg">

  <img src="IMG/provinces/colour/AB_Unselected.svg">
  <img src="IMG/provinces/colour/BC_Unselected.svg">
  <img src="IMG/provinces/colour/MB_Unselected.svg">
  <img src="IMG/provinces/colour/NB_Unselected.svg">
  <img src="IMG/provinces/colour/NL_Unselected.svg">
  <img src="IMG/provinces/colour/NS_Unselected.svg">
  <img src="IMG/provinces/colour/NT_Unselected.svg">
  <img src="IMG/provinces/colour/NU_Unselected.svg">
  <img src="IMG/provinces/colour/ON_Unselected.svg">
  <img src="IMG/provinces/colour/PEI_Unselected.svg">
  <img src="IMG/provinces/colour/QC_Unselected.svg">
  <img src="IMG/provinces/colour/Sask_Unselected.svg">
  <img src="IMG/provinces/colour/Yukon_Unselected.svg">

  <img src="IMG/provinces/DataUnavailable/AB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/BC_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/MB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NL_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NS_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NT_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NU_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/ON_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/PEI_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/QC_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/SK_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/Yukon_Unavailable.svg">


  <img src="IMG/provinces/radio/all_allSelectedR.svg">
  <img src="IMG/provinces/radio/all_someSelectedR.svg">
  <img src="IMG/provinces/radio/all_noneSelectedR.svg">
  
  <img src="IMG/provinces/french/tous_AllSelectedR.svg">
  <img src="IMG/provinces/french/tous_someSelectedR.svg">
  <img src="IMG/provinces/french/tous_noneSelectedR.svg">

  <img src="IMG/provinces/radio/AB_SelectedR.svg">
  <img src="IMG/provinces/radio/BC_SelectedR.svg">
  <img src="IMG/provinces/radio/MB_SelectedR.svg">
  <img src="IMG/provinces/radio/NB_SelectedR.svg">
  <img src="IMG/provinces/radio/NL_SelectedR.svg">
  <img src="IMG/provinces/radio/NS_SelectedR.svg">
  <img src="IMG/provinces/radio/NT_SelectedR.svg">
  <img src="IMG/provinces/radio/NU_SelectedR.svg">
  <img src="IMG/provinces/radio/ON_SelectedR.svg">
  <img src="IMG/provinces/radio/PEI_SelectedR.svg">
  <img src="IMG/provinces/radio/QC_SelectedR.svg">
  <img src="IMG/provinces/radio/Sask_SelectedR.svg">
  <img src="IMG/provinces/radio/Yukon_SelectedR.svg">
  
  <img src="IMG/provinces/radio/AB_UnselectedR.svg">
  <img src="IMG/provinces/radio/BC_UnselectedR.svg">
  <img src="IMG/provinces/radio/MB_UnselectedR.svg">
  <img src="IMG/provinces/radio/NB_UnselectedR.svg">
  <img src="IMG/provinces/radio/NL_UnselectedR.svg">
  <img src="IMG/provinces/radio/NS_UnselectedR.svg">
  <img src="IMG/provinces/radio/NT_UnselectedR.svg">
  <img src="IMG/provinces/radio/NU_UnselectedR.svg">
  <img src="IMG/provinces/radio/ON_UnselectedR.svg">
  <img src="IMG/provinces/radio/PEI_UnselectedR.svg">
  <img src="IMG/provinces/radio/QC_UnselectedR.svg">
  <img src="IMG/provinces/radio/Sask_UnselectedR.svg">
  <img src="IMG/provinces/radio/Yukon_UnselectedR.svg">


<div>