<div id="wideVisualizationPanel"> 


  <div id="graphPanel" class="wideVisualizationColumn">
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <style> {{ svgStylesheet }} </style>
        <g id="xAxis"> 
          <g id="xAxisForLabels"> </g>
          <g id="xAxisForTicks"> </g>
        </g>
        <g id="yAxis"> </g>
        <g id="graphGroup">  </g>
      </g>
    </svg>
  </div>
</div>

<div class="hidden"> 

  <div id="buttonPanel" class="selectorColumn">
    <div class="mainSelectorSection">  
      <span class="floatedTitleLabel">{{selectOneLabel}}</span>
      <a href='#'>  
        <img src="IMG/large_qmark.svg" class="helpIconButton mainSelectorHelpButton pointerCursor"> 
      </a>
      <div class="clearfix"> </div>  
      <div class="selectorGroup">
        <div id="mainSelector"></div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="unitsSelectorGroup">  
      <span class="floatedTitleLabel">{{selectUnitLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton unitSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="unitsSelector"> </div>    
      </div>
    </div>
    <div class="scenarioSelectorGroup">    
      <span class="floatedTitleLabel">{{selectScenarioLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton scenarioSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="scenariosSelector"> </div>
      </div>
    </div>
  </div>

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>


</div>
