<div id="wideVisualizationPanel"> 

  <div id="buttonPanel" class="selectorColumn">
    <div class="datasetSelectorGroup">
      <span class="floatedTitleLabel">{{selectDatasetLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton datasetSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="datasetSelector"></div>
      </div>
    </div>
    <div class="mainSelectorSection">  
      <span class="floatedTitleLabel">{{selectOneLabel}}</span>
      <a href='#'>  
        <img src="IMG/large_qmark.svg" class="helpIconButton mainSelectorHelpButton pointerCursor"> 
      </a>
      <div class="clearfix"> </div>  
      <div class="selectorGroup">
        <div id="mainSelector"></div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="unitsSelectorGroup">  
      <span class="floatedTitleLabel">{{selectUnitLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton unitSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="unitsSelector"> </div>    
      </div>
    </div>
    <div class="scenarioSelectorGroup">    
      <span class="floatedTitleLabel">{{selectScenarioLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton scenarioSelectorHelpButton pointerCursor"> 
      </a>
      <div class="selectorGroup">
        <div id="scenariosSelector"> </div>
      </div>
    </div>
  </div>

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="graphPanel" class="wideVisualizationColumn">
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <style> {{ svgStylesheet }} </style>
        <g id="xAxis"> 
          <g id="xAxisForLabels"> </g>
          <g id="xAxisForTicks"> </g>
        </g>
        <g id="yAxis"> </g>
        <g id="graphGroup">  </g>
      </g>
    </svg>
  </div>

  <div id='tooltip' class='chartTooltip'> </div>

</div>

<div class="hidden"> 
  <img src="IMG/main_selection/electricity_selected.png"> 
  <img src="IMG/main_selection/electricity_unselected.png"> 
  <img src="IMG/main_selection/gas_selected.png"> 
  <img src="IMG/main_selection/gas_unselected.png"> 
  <img src="IMG/main_selection/oil_selected.png"> 
  <img src="IMG/main_selection/oil_unselected.png"> 
  <img src="IMG/main_selection/totalDemand_selected.png"> 
  <img src="IMG/main_selection/totalDemand_unselected.png"> 

  <img src="IMG/provinces/colour/AB_Selected.svg">
  <img src="IMG/provinces/colour/BC_Selected.svg">
  <img src="IMG/provinces/colour/MB_Selected.svg">
  <img src="IMG/provinces/colour/NB_Selected.svg">
  <img src="IMG/provinces/colour/NL_Selected.svg">
  <img src="IMG/provinces/colour/NS_Selected.svg">
  <img src="IMG/provinces/colour/NT_Selected.svg">
  <img src="IMG/provinces/colour/NU_Selected.svg">
  <img src="IMG/provinces/colour/ON_Selected.svg">
  <img src="IMG/provinces/colour/PEI_Selected.svg">
  <img src="IMG/provinces/colour/QC_Selected.svg">
  <img src="IMG/provinces/colour/Sask_Selected.svg">
  <img src="IMG/provinces/colour/Yukon_Selected.svg">

  <img src="IMG/provinces/colour/AB_Unselected.svg">
  <img src="IMG/provinces/colour/BC_Unselected.svg">
  <img src="IMG/provinces/colour/MB_Unselected.svg">
  <img src="IMG/provinces/colour/NB_Unselected.svg">
  <img src="IMG/provinces/colour/NL_Unselected.svg">
  <img src="IMG/provinces/colour/NS_Unselected.svg">
  <img src="IMG/provinces/colour/NT_Unselected.svg">
  <img src="IMG/provinces/colour/NU_Unselected.svg">
  <img src="IMG/provinces/colour/ON_Unselected.svg">
  <img src="IMG/provinces/colour/PEI_Unselected.svg">
  <img src="IMG/provinces/colour/QC_Unselected.svg">
  <img src="IMG/provinces/colour/Sask_Unselected.svg">
  <img src="IMG/provinces/colour/Yukon_Unselected.svg">

  <img src="IMG/provinces/DataUnavailable/AB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/BC_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/MB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NB_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NL_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NS_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NT_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/NU_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/ON_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/PEI_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/QC_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/SK_Unavailable.svg">
  <img src="IMG/provinces/DataUnavailable/Yukon_Unavailable.svg">
</div>
