<div> 

  <div class="centreText"> 
    <h1>
      {{title}}
    </h1>
  </div>

  <div class='legendColumn'>
    {{#legendContent}}
      <img src={{img}} class='legendItem'></img>
    {{/legendContent}}
  </div>

  <div class='graphColumn'>
    <div id="graphPanel">
      <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
        <style> {{ svgStylesheet }} </style>
          <g id="xAxis"> 
            <g id="xAxisForLabels"> </g>
            <g id="xAxisForTicks"> </g>
          </g>
          <g id="yAxis"> </g>
          <g id="graphGroup">  </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="clearfix"> </div>  

  <div class="informationContainer">
    <p>
      {{description}}
    </p>
    <p>
      {{energyFuturesSource}}
    </p>
    <p>
      {{bitlyLink}}
    </p>
  </div>

  <img class="logoImage" src="/IMG/NEB_Logos/logo large.jpg">


</div>



<div class="hidden"> 

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>


</div>
