<div id="wideVisualizationPanel"> 

  <div id="buttonPanel" class="selectorColumn">
    <div class="sectorSelectorGroup">  
      <span class="floatedTitleLabel">{{selectSectorLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton sectorSelectorHelpButton pointerCursor" alt='{{ altText.sectorsHelp }}'> 
      </a>
      <div class="selectorGroup">
        <div id="sectorsSelector"> </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="unitsSelectorGroup">    
      <span class="floatedTitleLabel">{{selectUnitLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton unitSelectorHelpButton pointerCursor" alt='{{ altText.unitsHelp }}'> 
      </a>
      <div class="selectorGroup">
        <div id="unitsSelector"> </div>
      </div>
    </div>
    <div class="datasetSelectorGroup">
      <span class="floatedTitleLabel">{{selectDatasetLabel}}</span>
      <a href='#'>
        <img src="IMG/large_qmark.svg" class="helpIconButton datasetSelectorHelpButton pointerCursor" alt='{{ altText.datasetsHelp }}'> 
      </a>
      <div class="selectorGroup">
        <div id="datasetSelector"></div>
      </div>
    </div>
    <div class="scenarioSelectorGroup">    
      <span class="floatedTitleLabel">{{selectScenarioLabel}}</span>
      <a href='#'> 
        <img src="IMG/large_qmark.svg" class="helpIconButton  scenarioSelectorHelpButton pointerCursor" alt='{{ altText.scenariosHelp }}'> 
      </a>
      <div class="selectorGroup">
        <div id="scenariosSelector"> </div>
      </div>
    </div>
  </div>

  <div id="provincePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectRegionLabel}}</span>
    <div id="provincesSelector">
      <svg id="provinceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="powerSourcePanel" class="smallSelectorColumn">
    <span class="titleLabel textCentre">{{selectSourceLabel}}</span>
    <div id="powerSourceSelector">
      <svg id="powerSourceMenuSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      </svg>
    </div>
  </div>
  <div id="graphPanel" class="narrowVisualizationColumn">
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <defs> </defs>
      <style> {{ svgStylesheet }} </style>
      <g id="xAxisGrid"> </g>
      <g id="yAxisGrid"> </g>
      <g id="xAxis"> 
        <g id="xAxisForLabels"> </g>
        <g id="xAxisForTicks"> </g>
      </g>
      <g id="yAxis"> </g>
      <g id="graphGroup"> </g>
    </svg>
  </div>

  <div id='tooltip' class='chartTooltip'> </div>

</div>

<div class="hidden"> 
  <img src="IMG/sector/commercial_selected.svg" alt="commercial"> 
  <img src="IMG/sector/commercial_unselected.svg" alt="commercial"> 
  <img src="IMG/sector/industrial_selected.svg" alt="industrial"> 
  <img src="IMG/sector/industrial_unselected.svg" alt="industrial"> 
  <img src="IMG/sector/residential_selected.svg" alt="residential"> 
  <img src="IMG/sector/residential_unselected.svg" alt="residential"> 
  <img src="IMG/sector/transport_selected.svg" alt="transport"> 
  <img src="IMG/sector/transport_unselected.svg" alt="transport"> 

  <img src="IMG/sources/electricity_selected.svg" alt="electricity"> 
  <img src="IMG/sources/electricity_unselected.svg" alt="electricity"> 
  <img src="IMG/sources/oil_products_selected.svg" alt="oil"> 
  <img src="IMG/sources/oil_products_unselected.svg" alt="oil"> 
  <img src="IMG/sources/biomass_selected.svg" alt="biomass"> 
  <img src="IMG/sources/biomass_unselected.svg" alt="biomass"> 
  <img src="IMG/sources/naturalGas_selected.svg" alt="naturalGas"> 
  <img src="IMG/sources/naturalGas_unselected.svg" alt="naturalGas"> 
  <img src="IMG/sources/coal_selected.svg" alt="coal"> 
  <img src="IMG/sources/coal_unselected.svg" alt="coal"> 
  <img src="IMG/sources/solarWindGeo_selected.svg" alt="solarWindGeo"> 
  <img src="IMG/sources/solarWindGeo_unselected.svg" alt="solarWindGeo"> 

  <img src="IMG/sources/unavailable/electricity_unavailable.svg" alt="electricity"> 
  <img src="IMG/sources/unavailable/oil_products_unavailable.svg" alt="oil"> 
  <img src="IMG/sources/unavailable/biomass_unavailable.svg" alt="biomass"> 
  <img src="IMG/sources/unavailable/naturalGas_unavailable.svg" alt="naturalGas"> 
  <img src="IMG/sources/unavailable/coal_unavailable.svg" alt="coal"> 
  <img src="IMG/sources/unavailable/solarWindGeo_unavailable.svg" alt="solarWindGeo"> 
<div>
