<div id="wideVisualizationPanel"> 

  <div id="buttonPanel" class="selectorColumn">
    todo
  </div>

  <div id="graphPanel" class="wideVisualizationColumn" tabindex='0' aria-description='{{ graphDescription }}'>
    <svg id="graphSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink='http://www.w3.org/1999/xlink'>
      <style> {{ svgStylesheet }} </style>
      <g id="graphGroup">
        
        <g id="target"></g>

      </g>
    </svg>
  </div>

  <div id='tooltip' class='chartTooltip'> </div>

</div>

<div class="hidden"> 

</div>
